<%- include('../components/head', {title: "Zeus Proxy - Blog" ,
    description: ""
    , more: '' }) %>
<%- include('../components/header') %>
<div class="blog">
    <div class="blog-wrap container">
        <div class="header-wrap">
            <div class="title-wrap">
                <div class="title">
                    <h3 class="title-blog">Everything you need to know</h3>
                    <img src="../images/icon-vector.svg"/>
                </div>
            </div>
            <div class="title-wrap">
                <span class="title-blog">about <b class="title-blog" style="color: #2A86FF;">Proxy</b>, and more.</span>
            </div>
        </div>
        <p class="sub-title">You are a newbie? Don’t worry. Zeus proxy is here for you.</p>
        <div class="search-wrap">
            <img class="icon" src="../images/icon-search.svg" alt="image-search"/>
            <input class="search-content" placeholder="What are you looking for?">
            </input>
        </div>
    </div>

    <div class="container-blog">
        <div class="container">
            <div class="blog-item first-item">
                <div class="blog-content">
                    <h3 class="blog-title">What is proxy?</h3>
                    <p class="blog-detail">Simply put, you recommend a product or service to your audience. If they buy based on your recommendation, the product owner pays you a cut of what they earned. When done ethically—meaning you only recommend tools you truly believe will help your audience—affiliate marketing is a great way to start generating an income for your business.</p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
            <div class="blog-item">
                <div class="blog-content">
                    <h3 class="blog-title">What is proxy?</h3>
                    <p class="blog-detail">Simply put, you recommend a product or service to your audience. If they buy based on your recommendation, the product owner pays you a cut of what they earned. When done ethically—meaning you only recommend tools you truly believe will help your audience—affiliate marketing is a great way to start generating an income for your business.</p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
            <div class="blog-item">
                <div class="blog-content">
                    <h3 class="blog-title">What is proxy?</h3>
                    <p class="blog-detail">Simply put, you recommend a product or service to your audience. If they buy based on your recommendation, the product owner pays you a cut of what they earned. When done ethically—meaning you only recommend tools you truly believe will help your audience—affiliate marketing is a great way to start generating an income for your business.</p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
            <div class="blog-item">
                <div class="blog-content">
                    <h3 class="blog-title">What is proxy?</h3>
                    <p class="blog-detail">Simply put, you recommend a product or service to your audience. If they buy based on your recommendation, the product owner pays you a cut of what they earned. When done ethically—meaning you only recommend tools you truly believe will help your audience—affiliate marketing is a great way to start generating an income for your business.</p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
        </div>
    </div>
    
</div>
<%- include('../components/footer') %>