<%- include('../components/head', {title: "Zeus Proxy - Blog" ,
    description: ""
    , more: '' }) %>
<%- include('../components/header') %>
<div class="blog">
    <div class="blog-wrap container">
        <div class="header-wrap">
            <div class="title-wrap">
                <div class="title">
                    <h3 class="title-blog">Everything you need to know</h3>
                    <svg style="margin-top: 20px;" xmlns="http://www.w3.org/2000/svg" width="94" height="56" viewBox="0 0 94 56" fill="none">
                        <rect width="87" height="50" rx="25" fill="#2A86FF"/>
                        <rect x="79.3926" y="35.3964" width="20.3023" height="8" rx="4" transform="rotate(45 79.3926 35.3964)" fill="#2A86FF"/>
                        <circle cx="61" cy="25" r="22" fill="white" fill-opacity="0.3"/>
                        <circle cx="61" cy="25" r="18" fill="white"/>
                        <path d="M61 16C57.1342 16 54 19.0223 54 22.75C54 24.2178 54.499 25.5647 55.3285 26.6678C55.3434 26.6943 55.3457 26.7238 55.3627 26.7491L60.0293 33.4991C60.2457 33.8121 60.6103 34 61 34C61.3897 34 61.7542 33.8121 61.9707 33.4991L66.6373 26.7491C66.6545 26.7238 66.6566 26.6943 66.6715 26.6678C67.501 25.5647 68 24.2178 68 22.75C68 19.0223 64.8657 16 61 16ZM61 25C59.7114 25 58.6667 23.9926 58.6667 22.75C58.6667 21.5074 59.7114 20.5 61 20.5C62.2886 20.5 63.3333 21.5074 63.3333 22.75C63.3333 23.9926 62.2886 25 61 25Z" fill="#2A86FF"/>
                    </svg>
                </div>
            </div>
            <div class="title-wrap">
                <span class="title-blog">about <b class="title-blog" style="color: #2A86FF;">Proxy</b>, and more.</span>
            </div>
        </div>
        <p class="sub-title">You are a newbie? Don’t worry. Zeus proxy is here for you.</p>
        <div class="search-wrap">
            <img class="icon" src="../images/icon-search.svg" alt="image-search"/>
            <input class="search-content" placeholder="What are you looking for?">
            </input>
        </div>
    </div>

    <div class="container-blog">
        <div class="container">
            <div class="blog-item first-item">
                <div class="blog-content">
                    <h3 class="blog-title">What is proxy?</h3>
                    <p class="blog-detail">Simply put, you recommend a product or service to your audience. If they buy based on your recommendation, the product owner pays you a cut of what they earned. When done ethically—meaning you only recommend tools you truly believe will help your audience—affiliate marketing is a great way to start generating an income for your business.</p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
            <div class="blog-item">
                <div class="blog-content">
                    <h3 class="blog-title">What is proxy?</h3>
                    <p class="blog-detail">Simply put, you recommend a product or service to your audience. If they buy based on your recommendation, the product owner pays you a cut of what they earned. When done ethically—meaning you only recommend tools you truly believe will help your audience—affiliate marketing is a great way to start generating an income for your business.</p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
            <div class="blog-item">
                <div class="blog-content">
                    <h3 class="blog-title">What is proxy?</h3>
                    <p class="blog-detail">Simply put, you recommend a product or service to your audience. If they buy based on your recommendation, the product owner pays you a cut of what they earned. When done ethically—meaning you only recommend tools you truly believe will help your audience—affiliate marketing is a great way to start generating an income for your business.</p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
            <div class="blog-item">
                <div class="blog-content">
                    <h3 class="blog-title">What is proxy?</h3>
                    <p class="blog-detail">Simply put, you recommend a product or service to your audience. If they buy based on your recommendation, the product owner pays you a cut of what they earned. When done ethically—meaning you only recommend tools you truly believe will help your audience—affiliate marketing is a great way to start generating an income for your business.</p>
                    <div class="blog-button">
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                        <div class="blog-btn">
                            <button class="btn">proxy</button>
                        </div>
                    </div>
                </div>
                <div class="blog-image"></div>
            </div>
        </div>
    </div>
    
</div>
<%- include('../components/footer') %>