<%- include('../components/head', {title: "Zeus Proxy - Post" ,
    description: ""
    , more: '' }) %>

<%- include('../components/header') %>
<div class="container container-blog">
    <div class="container-blog">
        <h3 class="blog-title">What is proxy?</h3>
        <div class="blog-meta">
            <span>Oct 17,2023</span>
            <span>5 min read</span>
        </div>
    </div>
    <div class="post-image" style="width: 100%; height: 500px; background: white;box-shadow: 0px 4px 10px rgba(28, 8, 106, 0.25); border-radius: 32px;"></div>
    <div class="post-content">
        <p>Today we’re rolling out new accessibility features and updates that make accomplishing daily tasks faster and easier — like taking selfies, getting walking directions or searching the web. We recently launched <u>Lookout image Q&A mode</u> and accessibility updates on <u >Android 14</u> and <u>Wear OS 4</u>. Now we have even more accessible features across our products that are built with and for people with disabilities.</p>
        <span>Easily find and support disabled-own businesses in Maps and Search</span>
        <div class="post-image" style="max-width: 400px; height: 500px; margin-left: auto; margin-right: auto; background: white; box-shadow: 0px 4px 10px rgba(28, 8, 106, 0.25); border-radius: 32px"></div>
        <p>Today we’re rolling out new accessibility features and updates that make accomplishing daily tasks faster and easier — like taking selfies, getting walking directions or searching the web. We recently launched <u>Lookout image Q&A mode</u> and accessibility updates on <u >Android 14</u> and <u>Wear OS 4</u>. Now we have even more accessible features across our products that are built with and for people with disabilities.</p>
        <div class="post-tag">
            <span class="btn">TAGS:</span>
            <div class="blog-btn">
                <button class="btn">proxy</button>
            </div>
            <div class="blog-btn">
                <button class="btn">proxy</button>
            </div>
        </div>
    </div>

    <div class="post-related">
        <h3>Related post</h3>
        <div class="card post-card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body post-content">
                <span class="card-text">Easily find and support disabled-own businesses in Maps and Search</span>
                <div class="blog-meta">
                    <span>Oct 17,2023</span>
                    <span>5 min read</span>
                </div>
            </div>
        </div>
        <div class="card post-card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body post-content">
                <span class="card-text">Easily find and support disabled-own businesses in Maps and Search</span>
                <div class="blog-meta">
                    <span>Oct 17,2023</span>
                    <span>5 min read</span>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../components/footer') %>