<%- include('../components/head', {title: "Zeus Proxy - Blog" ,
    description: ""
    , more: '' }) %>

<%- include('../components/header') %>
<div class="container">
    <div class="">
        <h3 class="blog-title">What is proxy?</h3>
        <div class="">
            <span>Oct 17,2023</span>
            <span>5 min read</span>
        </div>
    </div>
    <div class="image-big">
        <div style="width: 1200px; height: 500px; background: white; box-shadow: 0px 4px 10px rgba(28, 8, 106, 0.25); border-radius: 32px"></div>
    </div>
    <div style="text-align: justify"><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; line-height: 32.40px; word-wrap: break-word">Today we’re rolling out new accessibility features and updates that make accomplishing daily tasks faster and easier — like taking selfies, getting walking directions or searching the web. We recently launched </span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; text-decoration: underline; line-height: 32.40px; word-wrap: break-word">Lookout image Q&A mode</span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; line-height: 32.40px; word-wrap: break-word"> and accessibility updates on </span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; text-decoration: underline; line-height: 32.40px; word-wrap: break-word">Android 14</span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; line-height: 32.40px; word-wrap: break-word"> and </span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; text-decoration: underline; line-height: 32.40px; word-wrap: break-word">Wear OS 4</span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; line-height: 32.40px; word-wrap: break-word">. Now we have even more accessible features across our products that are built with and for people with disabilities.</span></div>
    <p style="color: #173294; font-size: 25px; font-family: Product Sans; font-weight: 700; line-height: 45px; word-wrap: break-word">Easily find and support disabled-own businesses in Maps and Search</p>
    <div class="image-small" style="width: 400px; height: 500px; background: white; box-shadow: 0px 4px 10px rgba(28, 8, 106, 0.25); border-radius: 32px"></div>
    <div class="" style="text-align: justify"><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; line-height: 32.40px; word-wrap: break-word">Today we’re rolling out new accessibility features and updates that make accomplishing daily tasks faster and easier — like taking selfies, getting walking directions or searching the web. We recently launched </span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; text-decoration: underline; line-height: 32.40px; word-wrap: break-word">Lookout image Q&A mode</span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; line-height: 32.40px; word-wrap: break-word"> and accessibility updates on </span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; text-decoration: underline; line-height: 32.40px; word-wrap: break-word">Android 14</span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; line-height: 32.40px; word-wrap: break-word"> and </span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; text-decoration: underline; line-height: 32.40px; word-wrap: break-word">Wear OS 4</span><span style="color: #173294; font-size: 18px; font-family: Product Sans; font-weight: 400; line-height: 32.40px; word-wrap: break-word">. Now we have even more accessible features across our products that are built with and for people with disabilities.</span></div>
</div>
<%- include('../components/footer') %>