<head>
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <style>
        .layout-admin {
            display: flex;
            flex-grow: 1;
            min-width: 0;
            min-height: 100vh;
            flex-direction: column;
            .admin-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                flex-shrink: 0;
                position: sticky;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            .admin-header-wrapper {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: 1rem;
                min-height: 64px;
            }
            .admin-navbar {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .admin-navbar-left {
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    .btn {
                        margin-right: 10px;
                        border: none;
                        background-color: #fff;
                    }
                }
                .admin-navbar-left > h2 {
                    margin: 0px;
                    font-size: 24px;
                    line-height: 1.467;
                    font-weight: 500;
                }
                .admin-navbar-right > button {
                    margin-right: 10px;
                    background-color: #fff;
                    border: none;
                }
                .admin-navbar-right > button > span{
                    font-size: 16px;
                    font-weight: 300;
                }
    
                .admin-navbar-right > .btn {
                    margin-right: 10px;
                    padding: 6px 12px;
                    border: 1px solid #333;
                    border-radius: 6px;
                    background-color: #6b6bf9;
                    cursor: pointer;
                }
                .admin-navbar-right > .btn > span {
                    color: #fff;
                }
            }
            
            .admin-content {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                margin-top: 10px;
                .admin-content-wrapper {
                    padding-left: 0.625rem;
                    padding-right: 0.625rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                }
                .admin-content-wrapper > hr {
                    border-width: 0px 0px thin;
                    border-style: solid;
                    border-color: rgba(47, 43, 61, 0.16);
                    /* margin: 0px !important; */
                }
                .content-fiels {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .content-fiels > span {
                    margin-right: 2.5rem;
                    font-size: 16px;
                    font-weight: 600;
                }
                .content-blog > ul {
                    list-style-type: none;
                }
            }
        }
    </style>
</head>
<body>
<div class="layout-admin">
    <div class="container-left">
        <div class="post-header">
            <div class="admin-navbar">
                <div class="admin-navbar-left">
                    <button class="btn" type="button">
                        <img style="height: 16px; width: 16px;" src="../../images/left-arrow.png"></img>
                        <span></span>
                    </button>
                    <h2>Posts</h2>
                </div>
                <div class="admin-navbar-right">
                    <button>
                        <span>Save Draft</span>
                    </button>
                    <button>
                        <span>Public</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="post-image">
            <input id="image" class="" type="file" name="image">
        </div>
        <div class="post-title">
            <span>Title: Proxy-</span>
        </div>
        <div id="root"></div>
    </div>
    <div class="container-right">

    </div>
</div>

<!-- React App -->
<script type="text/babel">
    import React, { useRef } from 'react';
    import { render } from 'react-dom';
    const root = document.getElementById('root');

    const App = () => {
      const emailEditorRef = React.useRef(null);

      const saveDesign = () => {
        const unlayer = emailEditorRef.current?.editor;
        unlayer?.saveDesign((design) => {
          console.log('saveDesign', design);
        });
      };

      const exportHtml = () => {
        const unlayer = emailEditorRef.current?.editor;
        unlayer?.exportHtml((data) => {
          const { design, html } = data;
          console.log('exportHtml', html);
        });
      };

      const onDesignLoad = (data) => {
        console.log('onDesignLoad', data);
      };

      const onLoad = function (unlayer) {
        console.log('onLoad', unlayer);
        unlayer.addEventListener('design:loaded', onDesignLoad);
        // unlayer.loadDesign(sample);
      };

      const onReady = function (unlayer) {
        console.log('onReady', unlayer);
      };

      return (
        <div className="emailEditor">
          <button onClick={exportHtml}>ExportHtml</button>
          <EmailEditor ref={emailEditorRef} onLoad={onLoad} onReady={onReady} />
        </div>
      );
    };

    render(<App />, root);
</script>
</body>
